/*
***********************
CSS Styles for the index/home page of the website.
***********************
*/
/* CSS Styles for top most section on the homepage -- dubbed "intro" */
div.intro{
    width: 50%;
    float: left;
}
.intro{
    margin: 50px;
}
.intro h2{
    font-size: 35px;
}
.intro p{
    padding-left: 20px;
}
.intro a{
    text-decoration: none;
    color: red;
}
.intro a:visited{
    color: green;
}
/* CSS Styles for some links as well as the appropriate images*/