/* 
*********************** 
This is the MAIN css file which all pages here will share. This will include the main aspects of a page
which will be shared between the others as well. EX: Nav Bar, Footer, etc,.
***********************
*/
/*
CSS Styles for HTML and BODY
*/
html {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}
/*
CSS Styles for Navigation Bar
*/
.nav ul{ /* For unordered list to remove bullets and etc */
    list-style-type: none;
    background: black;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li{ /* making the list horizontal */
    display: inline-block;
}
.nav a{ /* link customization -- font is white */
    text-decoration: none;
    color: white;
    width: 100px;
    display: block; 
    padding: 15px 20px 15px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.nav a:hover{ /* link hover effect and response -- font size increases when hovering, bg turns grey */
    background: grey;
    font-size: 18px;
    transition: 0.6s;
}
.nav a.active{ /* active is a class which triggers when you on the certain page; font size to 18px; font color becomes black */
    background: white;
    font-size: 18px;
    color: black;
}
